{% extends 'projeto/base.html' %}

{% load static %}
{% load humanize %}
{% load categorias %}
{% block css %}
{% endblock %}
{% block main %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="card comboboxes bg-light">
                    <div class="card-body ">
                        <div class="row">
                            <input type="text" id="produtos" name="produtos" class="form-control" onkeyup="procurar_produtos()">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex">
                <ul>
                    {% for category in categorias %}
                        <li>
                            {{ category.name }}
                            {% tree_structure category %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex">
                {% for p in produtos %}
                    <div class="card">
                        <div class="card-body">
                            {{ p.name }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
{% block js %}
    <script>
        function procurar_produtos() {
            let produto = $('#produtos').val()
            if (produto.length >= 3) {
                $.ajax({
                    type: "POST",
                    url: '{% url 'procurar_produtos' %}',
                    data: {
                        "nome": produto,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function (response) {
                        console.log(response)
                    },
                    error: function (response, error) {
                        console.log('Erro');
                    }
                });
            }
        }
    </script>
{% endblock %}